@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
:root {
  --aries-color: #700;
  --taurus-color: #703;
  --gemini-color: #730;
  --cancer-color: #733;
  --leo-color: #373;
  --virgo-color: #370;
  --libra-color: #073;
  --scorpio-color: #070;
  --sagittarius-color: #037;
  --capricorn-color: #007;
  --aquarius-color: #307;
  --pisces-color: #337;
  --animate-speed: 2s;
  --overlay-color: rgba(15, 15, 15, 0.75);
  --page-opacity-color: rgba(63, 63, 63, 0.75);
}

body {
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-size: 1.5rem;
  overflow: hidden;
  color: #fff;
  margin: auto;
}

a {
  color: #fff;
  padding: 0.5rem;
  margin: 0.5rem;
  text-decoration: none;
}

ul {
  list-style: none;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page::before {
  content: "";
  background-color: var(--page-opacity-color);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

h1 {
  text-transform: uppercase;
}

h1 span {
  font-size: 75%;
  color: #bbb;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  transition: all 1s ease-in-out;
}

.btn-dark {
  background-color: #000;
  color: #fff;
}

.btn-light {
  background-color: #fff;
  color: #000;
}

.btn:hover {
  opacity: 0.4;
}

#aries {
  background-color: var(--aries-color);
}
#taurus {
  background-color: var(--taurus-color);
}
#gemini {
  background-color: var(--gemini-color);
}
#cancer {
  background-color: var(--cancer-color);
}
#leo {
  background-color: var(--leo-color);
}
#virgo {
  background-color: var(--virgo-color);
}
#libra {
  background-color: var(--libra-color);
}
#scorpio {
  background-color: var(--scorpio-color);
}
#sagittarius {
  background-color: var(--sagittarius-color);
}
#capricorn {
  background-color: var(--capricorn-color);
}
#aquarius {
  background-color: var(--aquarius-color);
}
#pisces {
  background-color: var(--pisces-color);
}

/*Хуудасны анимац*/

#aries h1,
#aries span {
  transform: translateY(-1080px);
  animation: heading var(--animate-speed) forwards ease-in;
}

#aries p {
  transform: translateX(2500px);
  animation: page-text var(--animate-speed) forwards ease-in;
}

@keyframes heading {
  to {
    transform: translateY(0px);
  }
}
@keyframes page-text {
  to {
    transform: translateX(0px);
  }
}
